* {
    font-family: Arial;
}

h1 {
    font-weight: bold;
}

body {
    width: 400px;
    margin: 0;
    padding: 0;
    background-color: white;
}

#openLinks {
    display: flex;
    flex-direction: column;
}

#topBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: black;
}

#topLeft {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#logo {
    width: 10vw;
}

#goButton {
    background-color: #555555;
    color: white;
    height: 10vw;
    font-size: 2em;
    border-style: none;
}

#test {
    color: white;
}

#version {
    color: white;
    text-decoration: none;
}

#filter {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
}

#filterInput {
    width: 100px;
}

#filterSettings {
    display: flex;
    flex-direction: column;
}

#linkCount {
    padding-left: calc(48px - 2em);
}

#links {
    max-height: 300px;
    overflow-x: hidden;
    overflow-y: auto;
    resize: vertical;
}

.link {
    text-indent: -2em;
    padding-left: 48px;
    display: block;
}
